<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Tron.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <Tron.Properties.Settings>
            <setting name="SplashLimit" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AverageSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="FishWaitHigh" serializeAs="String">
                <value>22200</value>
            </setting>
            <setting name="FishWaitLow" serializeAs="String">
                <value>21500</value>
            </setting>
        </Tron.Properties.Settings>
    </userSettings>
</configuration>
